*, *:before, *:after{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

input,
button{
    outline: none;
    font-family: 'Nunito', sans-serif;
}

.main{
    width: 600px;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: #fff;
    box-shadow: rgba(0,0,0,0.1) 0 0 30px;
}

.list-title{
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 2rem;
    background-color: #e3e3e3;
    color: #545454;
}

.todos{
    padding: 0;
    margin: 0;
    list-style: none;
}

.todos li{
    border-bottom: 1px #e3e3e3 solid;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 60px;
    user-select: none;
}

.todos li[data-status=done] span{
    text-decoration: line-through;
    font-style: italic;
}

.todos li span{
    padding: 0 1.5rem;
    display: block;
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    transition: transform 200ms;
    height: 60px;
    line-height: 60px;
    box-shadow: rgba(0,0,0,0.1) -5px 0 10px;
}

.todos li.selected span{
    transform: translateX(120px);
}

.todos li .todo-actions{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    text-align: left;
    background-color: #f1f1f1;
}

.todos li .todo-actions button{
    background-color: transparent;
    font-size: 17px;
    color: #545454;
    width: 60px;
    height: 60px;
    line-height: 60px;
    padding: 0;
    border: none;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
}

.todos li .todo-actions :not(:first-child){
    border-left: 1px solid #c7c7c7;
}

/* ADD TODO FORM */
.form-add-todo {
    display: flex;
    align-content: space-between;
}

.form-add-todo input{
    flex: 1;
    padding: 1rem 1.5rem;
    font-size: 18px;
    border: none;
    font-weight: 400;
}

.form-add-todo input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 300;
}

.form-add-todo button{
    width: 50px;
    background-color: #e3e3e3;
    border: none;
    font-size: 30px;
}